.loadingCircle {
  --color-1: #ff3d00;
  --color-2: #fff;
  --size: 0.5px;

  box-sizing: border-box;
  position: relative;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  animation: spin 1s linear infinite;
  margin-left: 1.2rem;
}
.loadingCircle:after,
.loadingCircle:before {
  content: '';
  width: calc(24 * var(--size));
  height: calc(24 * var(--size));
  position: absolute;
  border-radius: 50%;
  background: var(--color-1);
  animation: spin 1s linear infinite;
  transform-origin: 0 100%;
}
.loadingCircle:before {
  transform-origin: 0 50%;
  background: var(--color-2);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
