#navBar {
    font-size: 1.3rem;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #0F172A;
    opacity: 80%;
}

#navBar img {
    height: 3vw;
    width: 3vw;
}

#navImgDiv {
    flex: 1;
}

#navListDiv {
    flex: 7;
}

#navAccountDiv {
    flex: 2;
    text-align: end;
}

#navList {
    display: flex;
    justify-content: center;
}

.navItem {
    flex: 1;
    text-align: center;
}