@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #171717;
  --bg-space: #030712;
  --bg-card:  #0F172A;
  --color-primary: #5B21B6;
  --color-secondary: #A78BFA;
  --text-main: #F8FAFC;
  --text-second: #94A3B8;
  --border-cosmic: rgba(51,65,85,0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 80%;
}
